<a href="https://colab.research.google.com/github/kyle10er/21-Neural-Networks-Challenge/blob/main/AlphabetSoupCharity_Optimization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
application_df = application_df.drop(columns=["EIN", "STATUS", "SPECIAL_CONSIDERATIONS"])

In [3]:
application_df.nunique()

NAME                19568
APPLICATION_TYPE       17
AFFILIATION             6
CLASSIFICATION         71
USE_CASE                5
ORGANIZATION            4
INCOME_AMT              9
ASK_AMT              8747
IS_SUCCESSFUL           2
dtype: int64

In [4]:
name_counts = application_df.NAME.value_counts()

for name in name_counts[name_counts<6].index:
  application_df.NAME = application_df.NAME.replace(name, 'Other')

In [5]:
application_df.nunique()

NAME                 355
APPLICATION_TYPE      17
AFFILIATION            6
CLASSIFICATION        71
USE_CASE               5
ORGANIZATION           4
INCOME_AMT             9
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [7]:
application_df.NAME.value_counts()

NAME
Other                                           20043
PARENT BOOSTER USA INC                           1260
TOPS CLUB INC                                     765
UNITED STATES BOWLING CONGRESS INC                700
WASHINGTON STATE UNIVERSITY                       492
                                                ...
HABITAT FOR HUMANITY INTERNATIONAL                  6
DAMAGE PREVENTION COUNCIL OF TEXAS                  6
FLEET RESERVE ASSOCIATION                           6
HUGH OBRIAN YOUTH LEADERSHIP                        6
INTERNATIONAL CONGRESS OF CHURCHES MINISTERS        6
Name: count, Length: 355, dtype: int64

In [13]:
application_type_count = application_df['APPLICATION_TYPE'].value_counts()
application_type_count

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [14]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value = 600
application_types_to_replace = application_type_count[application_type_count <= cutoff_value].index.tolist()


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
Other      804
T8         737
T7         725
Name: count, dtype: int64

In [15]:
# Look at CLASSIFICATION value counts for binning
classification_count = application_df['CLASSIFICATION'].value_counts()
print(classification_count)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [16]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_count = application_df['CLASSIFICATION'].value_counts()
classification_counts_gt1 = classification_count[classification_count > 1]

# Print the filtered value counts
print(classification_counts_gt1)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [17]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_value = 1000
classifications_to_replace = classification_count[classification_count <= cutoff_value].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [18]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_dummies = pd.get_dummies(application_df)
application_df_dummies.head()

,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALBANY STATE UNIVERSITY NATIONAL ALUMNI ASSOCIATION,NAME_ALPHA PHI OMEGA,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,5000,1,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
1,108590,1,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
2,5000,0,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
3,6692,1,False,False,False,False,False,False,False,False,...,True,False,False,True,False,False,False,False,False,False
4,142590,1,False,False,False,False,False,False,False,False,...,True,False,False,False,True,False,False,False,False,False

In [20]:
# Split our preprocessed data into our features and target arrays
y = application_df_dummies['IS_SUCCESSFUL'].values
X = application_df_dummies.drop(columns = 'IS_SUCCESSFUL').values


# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 42, stratify=y)

In [21]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [22]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
features = X_train.shape[1]
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=100, activation = 'relu', input_dim=features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation = 'relu'))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation = 'tanh'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation = 'sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               39500

 dense_1 (Dense)             (None, 80)                8080

 dense_2 (Dense)             (None, 80)                6480

 dense_3 (Dense)             (None, 1)                 81

=================================================================
Total params: 54141 (211.49 KB)
Trainable params: 54141 (211.49 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [23]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [24]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 5s 3ms/step - loss: 0.4623 - accuracy: 0.7807
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4328 - accuracy: 0.7952
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4270 - accuracy: 0.7968
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4244 - accuracy: 0.7976
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4245 - accuracy: 0.7976
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4219 - accuracy: 0.7977
Epoch 7/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4208 - accuracy: 0.7989
Epoch 8/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4205 - accuracy: 0.7993
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4195 - accuracy: 0.8004
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4194 - accuracy: 0.8009
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4179 - accuracy: 0.7983
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4175 - accuracy: 0.7996
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4172 - accuracy: 0.8005
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4162 - accuracy: 0.8011
Epoch 15/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4157 - accuracy: 0.8011
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4156 - accuracy: 0.8015
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4147 - accuracy: 0.8018
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4145 - accuracy: 0.8018
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4136 - accuracy: 0.8020
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4137 - accuracy: 0.8025
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4130 - accuracy: 0.8032
Epoch 22/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4126 - accuracy: 0.8025
Epoch 23/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4122 - accuracy: 0.8042
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4122 - accuracy: 0.8040
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4117 - accuracy: 0.8036
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4114 - accuracy: 0.8036
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4115 - accuracy: 0.8037
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4110 - accuracy: 0.8031
Epoch 29/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4107 - accuracy: 0.8036
Epoch 30/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4099 - accuracy: 0.8035
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4103 - accuracy: 0.8045
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4100 - accuracy: 0.8050
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4099 - accuracy: 0.8036
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4095 - accuracy: 0.8039
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4091 - accuracy: 0.8053
Epoch 36/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4090 - accuracy: 0.8041
Epoch 37/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4087 - accuracy: 0.8045
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4082 - accuracy: 0.8049
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4084 - accuracy: 0.8043
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4091 - accuracy: 0.8056
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4080 - accuracy: 0.8055
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4084 - accuracy: 0.8042
Epoch 43/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4074 - accuracy: 0.8055
Epoch 44/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4073 - accuracy: 0.8053
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4074 - accuracy: 0.8053
Epoch 46/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4072 - accuracy: 0.8053
Epoch 47/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4073 - accuracy: 0.8047
Epoch 48/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4070 - accuracy: 0.8059
Epoch 49/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4065 - accuracy: 0.8048
Epoch 50/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4066 - accuracy: 0.8057
Epoch 51/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4068 - accuracy: 0.8054
Epoch 52/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4065 - accuracy: 0.8050
Epoch 53/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4062 - accuracy: 0.8063
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4062 - accuracy: 0.8054
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4059 - accuracy: 0.8065
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4067 - accuracy: 0.8054
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4060 - accuracy: 0.8067
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4064 - accuracy: 0.8063
Epoch 59/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4059 - accuracy: 0.8072
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4057 - accuracy: 0.8061
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4055 - accuracy: 0.8068
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4053 - accuracy: 0.8055
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4051 - accuracy: 0.8057
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4046 - accuracy: 0.8063
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4050 - accuracy: 0.8061
Epoch 66/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4049 - accuracy: 0.8077
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4051 - accuracy: 0.8063
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4043 - accuracy: 0.8068
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4043 - accuracy: 0.8057
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4048 - accuracy: 0.8070
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4048 - accuracy: 0.8066
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4055 - accuracy: 0.8064
Epoch 73/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4049 - accuracy: 0.8065
Epoch 74/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4043 - accuracy: 0.8072
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4047 - accuracy: 0.8060
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4050 - accuracy: 0.8059
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4052 - accuracy: 0.8066
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4047 - accuracy: 0.8057
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4039 - accuracy: 0.8068
Epoch 80/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4041 - accuracy: 0.8067
Epoch 81/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4035 - accuracy: 0.8082
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4039 - accuracy: 0.8069
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4032 - accuracy: 0.8078
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4041 - accuracy: 0.8066
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4042 - accuracy: 0.8070
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4041 - accuracy: 0.8066
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4043 - accuracy: 0.8068
Epoch 88/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4044 - accuracy: 0.8067
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4042 - accuracy: 0.8065
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4037 - accuracy: 0.8073
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4053 - accuracy: 0.8077
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4041 - accuracy: 0.8077
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4036 - accuracy: 0.8082
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4034 - accuracy: 0.8068
Epoch 95/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4032 - accuracy: 0.8073
Epoch 96/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4031 - accuracy: 0.8071
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4030 - accuracy: 0.8080
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4026 - accuracy: 0.8077
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4033 - accuracy: 0.8078
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4033 - accuracy: 0.8076

In [25]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4509 - accuracy: 0.7886 - 738ms/epoch - 3ms/step
Loss: 0.45092272758483887, Accuracy: 0.7885714173316956

In [26]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization.h5')

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(